{% extends "bulletin_board/bb_base.html" %}

{% block bb_content %}
<h3 class="text-center">Submitted Bulletins</h3>
{% for bulletin in bulletins %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <span>#{{ bulletin.topic.name }} </span>
            {% if bulletin.important == True %}
            <span style="color: orange"> <i class="fas fa-exclamation"></i> Important</span>
            {% endif %}
            <h3 class="panel-title">{{ bulletin.title }}</h3>
        </div>
        <div class="panel-body" style="white-space: pre-line;">
            {{ bulletin.content }}
        </div>
        <div class="panel-footer">
            {% if not bulletin.approve_date %}
            <a class="btn btn-primary btn-sm" title="Edit Bulletin" href="{{ url_for('draft_bulletin', token=bulletin.get_id_token()) }}"><i class="fas fa-edit"> Edit</i></a>
            {% endif %}
            {% if current_user.is_bb_admin() %}
                {% if not bulletin.approve_date %}
                <button class="btn btn-primary btn-sm" data-toggle="popover" data-placement="top" data-container="body" data-html="true"
                        data-content="<p>Publish this bulletin?</p>
                        <a class='btn btn-primary' href='{{ url_for('bulletin_publish_bulletin', token=bulletin.get_id_token()) }}'><i class='fas fa-upload'> Publish</i></a>">
                    <i class='fas fa-upload'> Publish</i>
                </button>
                {% else %}
                <button class="btn btn-warning btn-sm" data-toggle="popover" data-placement="top" data-container="body" data-html="true"
                        data-content="<p>Unpublish this bulletin?</p>
                        <a class='btn btn-warning' href='{{ url_for('bulletin_publish_bulletin', token=bulletin.get_id_token()) }}'><i class='fas fa-upload'> Unpublish</i></a>">
                    <i class='fas fa-upload'> Unpublish</i>
                </button>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}


{% block styles %}
{{ super() }}

{% endblock %}
{% block scripts %}
{{ super() }}
<script>

</script>
{% endblock %}