{% extends "bulletin_board/bb_base.html" %}

{% block bb_content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h4>#{{ bulletin.topic.name }}
        {% if bulletin.important == True %}
            <span style="color: orange"><i class="fas fa-exclamation"></i> Important </span>
        {% endif %}
    </h4>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h3>{{ bulletin.title }}</h3>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div style="white-space: pre-line">{{ bulletin.content }}</div>
</div>

{% for attachment in bulletin.attachments %}
    {% if not attachment.deleted == True %}
    {% if attachment.filetype in ['jpg', 'jpeg', 'png'] %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <img src="{{ url_for('static', filename=attachment.filepath) }}" class="bulletin_attachment" alt="Bulletin Attachment">
    </div>
    {% elif attachment.filetype == 'pdf' %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <object class="bulletin_attachment" name="pdf_frame" data="{{ url_for('static', filename=attachment.filepath) }}" type="text/pdf" >
            <embed src="{{ url_for('static', filename=attachment.filepath) }}" id="embed_pdf">
        </object>
{#        <iframe src="{{ url_for('static', filename=attachment.filepath) }}" class="pdf_attachment bulletin_attachment" frameborder="0"></iframe>#}
        <ul>
            <li><a class="atachment_pdf_title" href="{{ url_for('static', filename=attachment.filepath) }}">{{ attachment.filename }}</a></li>
        </ul>
    </div>
    {% elif attachment.filetype == 'mp4' %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <video class="bulletin_attachment" controls>
            <source src="{{ url_for('static', filename=attachment.filepath) }}" type="video/mp4">
        </video>
    </div>
    {% endif %}
    {% endif %}
{% endfor %}


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h4>Add Comments:</h4>
    {{ wtf.quick_form(form) }}
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h4>Comments:</h4>
    {% for comment in bulletin.comments %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div style="white-space: pre-line">{{ comment.submitted_by.name }}: {{ comment.comment }}</div>
        <div class="help-block" style="font-size: 10px;">{{ comment.submitted_date.strftime('%b %d, %Y %H:%M') }}</div>
    </div>
    {% endfor %}
</div>
{% endblock %}


{% block styles %}
{{ super() }}

{% endblock %}
{% block scripts %}
{{ super() }}
<script>

</script>
{% endblock %}