{% extends "base.html" %}

{% block app_content %}
<div class="container-fluid">

    {% set side_nav_content = [{'endpoint': url_for('bulletin_board'), 'name': 'Bulletin Board', 'icon_class': 'fas fa-bullhorn'},
                               {'endpoint': url_for('continuing_medical_education'), 'name': 'Courses', 'icon_class': 'fas fa-book-open'}] %}{#{'endpoint': 'index', 'name': 'Home', 'icon_class': 'fas fa-home'}#}

    {% if current_user.designation_id == 1 %}

        {{ side_nav_content.append({'endpoint': url_for('cme_dashboards'), 'name': 'Dashboards', 'icon_class': 'far fa-chart-bar'})|default("", True) }}
        {#{{ side_nav_content.append({'endpoint': 'cme_add_course', 'name': 'Add Course', 'icon_class': 'fas fa-book-medical'})|default("", True) }}#}
    {% endif %}
    {% if current_user.id == 1 or current_user.designation_id == 1 or current_user.is_cme_course_creator() %}
    {{ side_nav_content.append({'endpoint': url_for('cme_manage_courses'), 'name': 'Manage Courses', 'icon_class': 'fas fa-tasks'})|default("", True) }}
    {% endif %}
    {% if current_user.designation_id == 1 %}
        {{ side_nav_content.append({'endpoint': url_for('cme_topics'), 'name': 'Topics', 'icon_class': 'fas fa-layer-group'})|default("", True) }}
    {% endif %}
    {% include 'sidenav.html' %}

    <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-12 col-xs-12" id="admin_content">
        {% block admin_content %}

        {% endblock %}
    </div>
</div>
{% endblock %}

{% block styles %}
{{ super() }}
<style>

</style>
{% endblock %}


