{% extends "cme/cme_base.html" %}

{% block cme_content %}
{% if question == None %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="text-center">
            <h3 id="course_title">Welcome to {{ course.title }} Course Post-test Exam</h3>
            <p>Please select the best answer from each of the questions choices.</p>
            <a class="btn btn-primary" href="{{ url_for('cme_take_post_test', course_token=course.get_id_token(), question_token=course.questions[0].get_id_token()) }}">
                Next <i class="fas fa-angle-double-right"></i>
            </a>
        </div>
    </div>
{% else %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3 id="course_title" class="text-center">{{ course.title }} Course Pre-test Exam</h3>
    </div>
    {% set answered = namespace(questions=0) %}
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>{{ question.title }} ?</h4>
            </div>
            <form action="{{ url_for('submit_post_test_response', course_token=course.get_id_token(), question_token=question.get_id_token()) }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="panel-body">
                    <div class="radio">
                        {% for choice in question.choices %}
                        <p>
                            <label style="width: 100%">
                                <input class="rd_btn" type="radio" name="question_radios"
                                        {% if post_test.has_response(question) %}
                                        {% if post_test.has_response(question).selected_choice_id == choice.id %}
                                        checked
                                        {% endif %}
                                        {% endif %}
                                        value="{{ choice.id }}">
                                <span>{{ choice.title }}</span>
                            </label>
                        </p>
                        {% endfor %}
                    </div>
                </div>
                <div class="panel-footer">
                    <ul class="nav nav-pills" role="tablist" style="margin-left: 30px;">
                        {% for q in course.questions %}
                            <li {% if q.id == question.id %} class="active" {% endif %}>
                                <a href="{{ url_for('cme_take_post_test', course_token=course.get_id_token(), question_token=q.get_id_token()) }}"
                                    {% if post_test.has_response(q) %}
                                    {% set answered.questions = answered.questions + 1 %}
                                    class="btn btn-info"
                                    {% else %}
                                    class="btn btn-default"
                                    {% endif %}
                                   style="margin-top: 4px;">
                                    {{ loop.index }}
                                </a>
                            </li>
                        {% endfor %}
                        {% if answered.questions == course.questions|length %}
                        <li style="float: right;">
                            <button class="btn btn-primary" type="button" role="button" data-toggle="modal" data-target="#submit_post_test_modal" style="margin-top: 4px;">
                                Submit
                            </button>
                        </li>
                        {% else %}
                        <li style="float: right;">
                            <button id="submit" type="submit" role="button" class="btn btn-primary" style="margin-top: 4px;">
                                Save and Next <i class="fas fa-angle-double-right"></i>
                            </button>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </form>
        </div>

    </div>

{% if answered.questions == course.questions|length %}
<div class="modal fade" id="submit_post_test_modal" tabindex="-1" role="dialog" aria-labelledby="submit_post_test_modal_label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="submit_post_test_modal_label">{{ course.title }} Post-test</h4>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to submit Post-test for {{ course.title }}?</h4>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-default" data-dismiss="modal">Close</a>
                <a href="{{ url_for('submit_post_test', token=course.get_id_token()) }}" class="btn btn-primary">Submit</a>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endif %}


{% endblock %}

{% block styles %}
{{ super() }}
<style>
.test_nav {
    position: fixed;
    bottom: 20%;
}
</style>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function () {
    $('#submit').prop('disabled', true)
    $(document).on('change', '.rd_btn', function () {
        var rd_txts = true
        $.each($('.rd_txt'), function (i, e) {
            if ($(e).val().length == 0){
                rd_txts = false
            }
        })
        if (this.checked && rd_txts == true){
            $('#submit').prop('disabled', false)
            $('#edit_submit').prop('disabled', false)
        }
        else {
            $('#submit').prop('disabled', true)
            $('#edit_submit').prop('disabled', true)
        }
    })
})
</script>
{% endblock %}