<p>Dear {{ user.name }},</p>

<p>An account has been created for you on the Biogenix Training and Development App.</p>
<p>
    To create your password
    <a href="{{ url_for('reset_password', token=token, _external=True) }}">
        click here
    </a>.
</p>
<p>This link is only valid for 10 minutes. If you were not able to create your password on the specified time,
    you can request for a new one by
    <a href="{{ url_for('reset_password_request') }}">
        clicking this link.
    </a>
</p>

{#<p></p>
<p></p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('reset_password', token=token, _external=True) }}</p>#}

<p></p>
<p>Sincerely,</p>
<p>Biogenix app</p>