<p>Dear {{ name }},</p>
<p>
    Please confirm your email by
    <a href="{{ url_for('register_user', token=token, _external=True) }}">
        clicking this link.
    </a>.
</p>
<p>This link is only valid for 10 minutes.</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('register_user', token=token, _external=True) }}</p>
<p>If you have not registered for the biogenix app, simply ignore this message.</p>
<p>Sincerely,</p>
<p>Biogenix app</p>