{% extends "base.html" %}

{% block app_content %}
<div class="container-fluid">
    {% set side_nav_content = [{'endpoint': url_for('index'), 'name': 'Updates', 'icon_class': 'fas fa-notes-medical'},
                               {'endpoint': url_for('continuing_medical_education'), 'name': 'Courses', 'icon_class': 'fas fa-book-open'}]
    %}
    {% include 'sidenav.html' %}

    <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-12 col-xs-12" id="index_content">
        <div class="row">
            {% for course in nursing_courses %}
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ course.title }}</h3>
                    </div>
                    <div class="panel-body">
                        {{ course.body }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {#<div class="row">
            <div class="col-lg-2 col-lg-offset-10 col-md-2 col-md-offset-10 col-sm-3 col-sm-offset-9 col-xs-3 col-xs-offset-9 create_course_cont">
                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#create_info_btn_modal" title="Add update">
                    <i class="fas fa-plus-circle"></i>
                </button>
            </div>
        </div>#}

    </div>
</div>

{#<div class="modal fade" id="create_info_btn_modal" tabindex="-1" role="dialog" aria-labelledby="create_info_btn_modal_label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="create_info_btn_modal_label">Post Update</h4>
      </div>
      <div class="modal-body">
        {{ wtf.quick_form(form) }}
      </div>
    </div>
  </div>
</div>#}
{% endblock %}

{% block styles %}
{{ super() }}
<style>

@media (max-width: 1023px){

}

@media (max-width: 1023px) and (max-height: 500px) {

}

@media (max-width: 550px) and (max-height: 700px) {

}

</style>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>

</script>
{% endblock %}


