{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <h3>Update Password</h3>
        {{ wtf.quick_form(form) }}
        <div>
              <h4>Password requirements!</h4>
              <ul>
                  <li>Password should have not been previously used.</li>
                  <li>Password length should be at least 8 characters.</li>
                  <li>Password should have at least:
                      <ul>
                          <li>One number</li>
                          <li>One uppercase letter</li>
                          <li>One lowercase letter</li>
                          <li>One special character</li>
                      </ul>
              </ul>
          </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 logo_cont">
        <img src="/static/trans_logo_name.png" id="login_logo">
    </div>

</div>

{% endblock %}

{% block styles %}
{{ super() }}
<style>
@media (max-width: 1023px){
    .logo_cont {
        display: none;
    }
}
</style>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function () {

})
</script>

{% endblock %}#}
